.volunteeHero-wrap {
  background-image: url("/images/volunteer/volunteer-hero-bkg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
  height: 420px;
  .vHeroContent {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    .row {
      text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.52);
      color: #fff;
      margin-top: 142px;
      .vIllustration {
        display: none;
        text-align: center;
        img {
          margin: 0 auto;
        }
      }
      .vHeroCopy {
        text-align: center;
        h1 {
          font-size: 3.6rem;
          font-weight: 400;
          font-style: normal;
          margin: 20px 0px;
        }
        p {
          font-size: 1.8rem;
        }
      }
    }
  }
}
.v-cta {
  background: #e57a45;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 3px 8px 4px rgba(0, 0, 0, 0.56);
  border-radius: 7px;
  font-size: 2.7rem;
  line-height: 3rem;
  padding: 15px 5px;
  display: block;
  margin: 0 auto;
  width: 180px;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.vBrackets {
  height: 100%;
  max-width: 700px;
  width: 100%;
  margin: 40px auto;
  background-image: url("/images/volunteer/lbracket.png"),
    url("/images/volunteer/rbracket.png");
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: contain;
  .bracketsCopy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
    background: #fafcff;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: 10px auto;
    height: 90%;
  }
}
.vBottomCopy {
  max-width: 700px;
  width: 100%;
  margin: 40px auto;
  min-height: 180px;
  .bCopyImage {
    // width: 30%;
    flex-basis: 25%;
    // background-color: #c4c4c4;
    margin-right: 5%;
    flex-grow: 0;
    max-width: 25%;
    padding: 0;
    img {
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
  }
  .bCopy {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fafcff;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
}
.participateFooter-wrap {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  .participateFooter {
    margin-bottom: 40px;
    p {
      font-size: 1.8rem;
    }
    h4 {
      font-size: 2.4rem;
      letter-spacing: 4px;
      a {
        color: #000;
      }
    }
  }
}
@media (min-width: 1025px) {
  .volunteeHero-wrap {
    .vHeroContent {
      .row {
        .vIllustration {
          display: block;
        }
      }
    }
  }
}
