@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;600&family=Open+Sans:wght@400;600&display=swap");

$exo: "Exo", sans-serif;
html {
  font-size: 62.5%;
}
h1,
h2 {
  font-family: $exo;
  font-size: 3.2rem;
  font-weight: 600;
  font-style: italic;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
#root {
}
.main {
  padding: 0px;
}
